@font-face {
    font-family: 'livvic';
    src: url('/resources/fonts/livvic-v8-vietnamese_latin-regular.eot') format('eot');
    src: url('/resources/fonts/livvic-v8-vietnamese_latin-regular.svg') format('svg');
    src: url('/resources/fonts/livvic-v8-vietnamese_latin-regular.ttf') format('ttf');
    src: url('/resources/fonts/livvic-v8-vietnamese_latin-regular.woff') format('woff');
    src: url('/resources/fonts/livvic-v8-vietnamese_latin-regular.woff2') format('woff2');
}
